biopython>=1.81
easydict>=1.10
lmdb>=1.4
matplotlib>=3.7
meeko>=0.5
numpy>=1.24,<2.0
pandas>=2.0
pillow>=10.0
pyyaml>=6.0
rdkit>=2023.9
scikit-learn>=1.3
scipy>=1.10
seaborn>=0.13
tensorboard>=2.13
torch>=2.0
torch-geometric>=2.4
torch-cluster>=1.6
torch-scatter>=2.1
tqdm>=4.65
vina>=1.2

